body, html {
    height: 100%;
}

body {
    background: url(background.png);
    color: white;
    font-family: Open Sans, Arial, sans-serif;
}

#search {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 4rem 0;
    border: 1px solid white;
    border-radius: 5px;
    padding: 25px 20px;
    font-size: 2.3rem;
}

.gif__image-container {
    box-sizing: border-box;
    width: 100%;
    min-height: 100px;
}

.gif__image {
    width: 100%;
}

.gif__title {
    text-align: center;
    margin: 0;
}

.gif__url {
    color: #444;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #5AADA9;
    padding: 3px 6px;
    outline: none;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.gif__tags {
    margin-top: 1rem;
    text-align: center;
}

.gif__tag {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1px 4px;
    border-radius: 5px;
    border: 1px solid #5AADA9;
    color: #444;
    font-size: 1rem;
}

.gif__tag + .gif__tag {
    margin-left: 3px;
}

.error {
    font-size: 5rem;
    text-align: center;
}