{% extends 'master.html' %}

{% block styles %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
    {% raw %}
        <div class="container" data-ng-controller="GifsController" data-ng-cloak>
            <div class="row">
                <div class="twelve columns">
                    <input type="search" class="u-full-width" id="search" data-ng-model="search" data-ng-change="filter()">
                </div>
            </div>
            <div class="row" data-ng-repeat="row in gifRows">
                <div class="three columns" data-ng-repeat="gif in row">
                    <figure class="gif">
                        <div class="gif__image-container">
                            <img class="gif__image" data-ng-src="{{ gif.url }}" alt="{{ gif.title }}" ng-if="!gif.gfycat">
                            <video autoplay loop class="gif__image" ng-if="gif.gfycat">
                                <source ng-src="{{ gif.webm }}" type="video/webm">
                                <source ng-src="{{ gif.mp4 }}" type="video/mp4">
                            </video>
                        </div>
                        <figcaption class="gif__caption">
                            <h5 class="gif__title">{{ gif.title }}</h5>
                            <input class="gif__url" data-ng-model="gif.url" onfocus="this.select();" onmouseup="return false;">
                            <div class="gif__tags">
                                <span class="gif__tag" data-ng-repeat="tag in gif.tags">{{ tag }}</span>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns" data-ng-if="gifs.length == 0">
                    <h1 class="error">No tags found :(</h1>
                </div>
            </div>
        </div>
    {% endraw %}
{% endblock %}

{% block javascripts %}
    <!-- Gfycat -->
    <script>
     (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = 'http://assets.gfycat.com/js/gfyajax-0.517d.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
    </script>
{% endblock %}
