{% extends 'master.html' %}

{% block styles %}
    <style>
    .tag {
        margin: 0 3px 4px 0;
    }
    </style>
{% endblock %}

{% block content %}
    {% raw %}
        <div ng-controller="GifsController" ng-cloak>
            <div class="nav has-shadow">
                <div class="nav-center">
                    <div class="nav-item">
                        <div class="field">
                            <p class="control has-icon">
                                <input class="input" type="search" placeholder="Search" ng-model="search">
                                <span class="icon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container section">
                <div class="columns is-multiline is-mobile">
                    <div class="column is-3" ng-repeat="gif in gifs | filter:search">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">{{ gif.title }}</p>
                            </header>
                            <div class="card-image">
                                <img ng-src="{{ gif.url }}" alt="{{ gif.title }}">
                            </div>
                            <div class="card-content">
                                <span class="tag" ng-repeat="tag in gif.tags">{{ tag }}</span>
                            </div>
                            <div class="card-footer">
                                <div class="card-footer-item">
                                    <input type="url" class="input" ng-model="gif.url" onfocus="this.select();" onmouseup="return false;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endraw %}
{% endblock %}
